#noethernet{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#noethernet img{
    height: 15rem;
}

#noethernet h3{
    margin-bottom: 1rem;
}

#noethernet p{
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}